.container {
    text-align: center;
}

.container > * {
    margin: 1em 0;
}

#start {
    font-size: 2.5em !important;
    animation-duration: 1s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    50%   {opacity:0.5; }
    100% { opacity:1; }
}

#tableau-score {
    display: none;
}
