#start {
    background-color: rgb(36, 92, 14);
    padding: .5em;
    -moz-border-radius: 200px;
    -webkit-border-radius: 64px;
    border-radius: 60px;
    color: #fff;
    font-size: 205px;
    text-decoration: none;
    border: none;
   }
#restart {
    background-color: rgb(36, 92, 14);
    padding: .5em;
    -moz-border-radius: 200px;
    -webkit-border-radius: 64px;
    border-radius: 60px;
    color: #fff;
    font-size: 205px;
    text-decoration: none;
    border: none;
   }